.App {
  text-align: center;
  font-size: 1.1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  height: 500px;
  width: 500px;
  margin: auto;
  background-image: linear-gradient(to right,rgb(118, 200, 255),rgb(215, 246, 248), rgb(118, 200, 255)) ;
  margin-top: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: rgba(118, 200, 255, 0.8) 5px 5px, rgba(118, 200, 255, 0.7) 10px 10px, rgba(118, 200, 255, 0.6) 15px 15px, rgba(118, 200, 255, 0.5) 20px 20px, rgba(118, 200, 255, 0.4) 25px 25px;
  
}
.image{
  border-radius: 100%;
  width: 130px;
  height: 130px;
}
.title{
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 75%;
  margin-left: 50px;
}
.title-p{
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 20px;
  text-align: center;
  width: 100%;
  margin-left: 10px;
}
.body {
  margin-top: 25px;
}
.email-image {
  width: 35px;
}
.e-mail{
  display: flex;
  width: 80%;
  margin-left: 80px;
  margin-top: 20px;
}
.email-p{
  text-align: center;
  width: 100%;
}
.phone{
  display: flex;
  width: 80%;
  margin-left: 80px;
  margin-top: 20px;
  
}
.phone-image {
  width: 35px;
}
.phone-p{
  text-align: center;
  width: 100%;
}
.location{
  display: flex;
  width: 80%;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.location-image{
  width: 35px;
}
.location-p{
  text-align: right;
  width: 100%;
  text-align: center;
}
.button{
  margin-top: 50px;
  height: 50px;
  font-size: 1.2rem;
  background-color: rgb(118, 200, 255);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border:none;
}
.button:hover{
  margin-top: 50px;
  height: 50px;
  font-size: 1.2rem;
  background-color: rgb(218, 233, 243);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}